<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Orufy">
	<test name = "Orufy Bookings" preserve-order="true">
		<classes>
			<!--<class name="com.Bookings.ProfilePage.testCases.TC_Login" /> -->
			<class name="com.Bookings.ProfilePage.testCases.TC_DefaultFieldContent" />
		</classes>
	</test>
</suite>